*:Zone.Identifier*
fort*
*.sav
*.o
*.o*
*.e*
*.mod
*.h5
*.dat
*gmon.out
*swp
*.log
fidasim
fidasim_debug
tables/generate_tables
deps/hdf5
deps/opencoarrays
deps/python
deps/pFUnit/
test/unit_tests/build/
docs/html
results/
RESULTS/
*.job*
sge*
travis_key
*.pyc
.nfs*
