dist: trusty

language: python

python:
  - 2.7

cache:
  apt: true
  pip: true

branches:
  only:
    - master
    - release-1.0

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - git
    - gcc-5
    - g++-5
    - gfortran-5
    - zlib1g-dev
    - linkchecker
    - python-pip
    - graphviz

install:
  - export FC=gfortran-5
  - export CC=gcc-5
  - export CXX=g++-5
  - pip install --upgrade graphviz
  - (pip install --upgrade ford && ford --version)
  - pip install -Iv markdown==2.6.9

script:
  - travis_wait 60 make
  - ./fidasim
  - travis_wait make docs CHECK_LINKS=n

after_success:
  - cd $TRAVIS_BUILD_DIR
  - git config --global user.name "TRAVIS-CI-for-$(git --no-pager show -s --format='%cn' $TRAVIS_COMMIT)"
  - git config --global user.email "$(git --no-pager show -s --format='%ce' $TRAVIS_COMMIT)"
  - bash ./deploy.sh
